#contact-form-1 {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  padding: 100px;
  background-image: url("../assets/background-form-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  grid-template-areas:
    "heading heading heading heading"
    "paragraph paragraph paragraph paragraph"
    "name name email email"
    "phonenumber phonenumber phonenumber phonenumber"
    "submit submit submit submit";
}

#contact-form-1 h1 {
  grid-area: heading;
  color: white;
}

#contact-form-1 p {
  grid-area: paragraph;
  color: white;
  margin-bottom: 20px;
}

#name-field {
  grid-area: name;
}

#email-field {
  grid-area: email;
}

#phone-number-field {
  grid-area: phonenumber;
}

#submit {
  grid-area: submit;
  color: #394ae8;
  font-weight: bold;
  margin-top: 30px;
  grid-column: 1 / 2;
}

#contact-form-1 input,
#contact-form-1 button {
  border: none;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
}

#name-field input,
#email-field input,
#phone-number-field input {
  height: 43px;
  padding: 12px;
}

::placeholder {
  opacity: 0.8;
}

#submit {
  height: 47px;
  background-color: #fff;
  cursor: pointer;
}
